@if (_isComponentLoaded)
{
    <div class="row main-container">
        <div class="col s8">
            <table class="striped">
                <thead>
                    <tr>
                        <th class="col" style="width: 40%;">Category</th>
                        <th class="col" style="width: 40%;">Word count</th>
                        <th class="col" style="width: 20%;"></th>
                    </tr>
                </thead>
                <tbody style="height: 40vh;">
                    @foreach (var item in _categoryItems)
                    {
                        @if (IsCategoryItemMatchingFilter(item))
                        {
                            <tr>
                                <td class="col table-line" style="width: 40%;">@item.CategoryVM.Category.Title</td>
                                <td class="col table-line" style="width: 40%;">@item.CategoryVM.WordCount</td>
                                <td class="col" style="width: 20%;">
                                    <label>
                                        <input type="checkbox" @bind="@item.IsPicked" />
                                        <span style='@(item.IsPicked ? "" : "color: #00000000;")'>Selected</span>
                                    </label>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="margin: 30px 0 30px 0">
                <a class="btn-flat waves-effect waves-purple" style="margin: 10px;" @onclick="() => SelectOrDeselectAllCategories(true)">Select all</a>
                <a class="btn-flat waves-effect waves-purple" style="margin: 10px;" @onclick="() => SelectOrDeselectAllCategories(false)">Deselect all</a>
            </div>
        </div>
        <div class="col s2"></div>
        <div class="col s2">
            <div class="row">
                <div class="input-field">
                    <input id="input_title" type="text" class="validate" @bind="_inputTitle" placeholder="search..." autocomplete="off" spellcheck="false">
                    <label for="input_title"></label>
                </div>
            </div>
            <div style="height: 10vh"></div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="dropdown_direction" @bind="_direction">
                        <option class="table-line" value="@((int)WordDirections.Forward)">Forward</option>
                        <option class="table-line" value="@((int)WordDirections.Backward)">Backward</option>
                        <option class="table-line" value="@((int)WordDirections.All)">All</option>
                    </select>
                    <label>Direction</label>
                </div>
            </div>
            <div class="row">
                <label style="margin: 0 15px 0 15px;">
                    <input type="checkbox" @bind="@_loopRetry" />
                    <span>Loop</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row validation-container">
        <button class="btn btn-large waves-effect waves-light" @onclick="OpenPlayValidationModal" disabled="@_categoryItems.All(x => !x.IsPicked)">
            Validate<i class="material-icons right">send</i>
        </button>
    </div>
    <div id="modal_play_validation" class="modal modal-fixed-footer" style="width: 500px; height: 500px;">
        <div class="modal-content">
            <h4>Play</h4>
            <p>Selected categories:</p>
            <ul class="collection" style="max-height: 280px; overflow-y: auto;">
                @foreach (var categoryItem in _categoryItems.Where(x => x.IsPicked))
                {
                    <li class="collection-item table-line">
                        @categoryItem.CategoryVM.Category.Title
                        <div class="secondary-content">words: @(categoryItem.CategoryVM.WordCount)</div>
                    </li>
                }
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-purple btn-flat">Back</a>
            <a class="modal-close waves-effect btn" @onclick="OnPlayClick" disabled="@(!CanPlay())">
                Play
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
}
